/*
 |--------------------------------------------------------------------------
 | Checkbox style
 |--------------------------------------------------------------------------
 */

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;

    & > label {
        pointer-events: none;
        vertical-align: middle;
    }
    &:hover .checkbox svg path {
        stroke-dashoffset: 0;
    }

    .checkbox {
        position: relative;
        top: 2px;
        float: left;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        border-radius: 3px;

        svg {
            position: absolute;
            top: -2px;
            left: -2px;

            path {
                fill: none;
                stroke: #3490dc;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 71px;
                stroke-dashoffset: 71px;
                transition: all 0.6s ease;
            }
            polyline {
                fill: none;
                stroke: #FFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 18px;
                stroke-dashoffset: 18px;
                transition: all 0.3s ease;
            }
        }
    } // End of .checkbox

    input:checked + .checkbox {
        border-color: #3490dc;

        svg {
            path {
                fill: #3490dc;
            }
            polyline {
                stroke-dashoffset: 0;
            }
        }
    }
} // End of .label-cbx

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
